* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
/* boot css */
.center {
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}
.w50 {
    width: 50%;
}
.w33 {
    width: 33.3%;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
/* estilização */

header {
    padding: 20px 0;
    background: #3d437a;
}

header .logo {
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
}

.mobile {
    display: none;
}
.desktop ul {
    list-style-type: none;
    position: relative;
    top: 6px;
}
.desktop li {
    font-size: 15px;
    font-weight: 300;
    padding: 0 30px;
    text-transform: uppercase;
    display: inline-block;
}
.desktop a {
    color: white;
    text-decoration: none;
}
